= simple_form_for(post,
                  :input_html => { :class => "rails_blog_engine_post" }) do |f|
  = f.input :title
  = f.input :permalink
  = f.input :body
  = f.input :published_at
  = f.button :submit, :class => "update_post btn primary"
